<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>All Train Departures</title>
    <link href="{{ url_for('static', filename='styles/minimal-table.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <p id="time"></p>
    <table>
        <thead>
            <tr>
                <th>Destination</th>
                <th>Depart In</th>
                <th>Actual Departure</th>
                <th>Delay</th>
                <th>Planned Departure</th>
            </tr>
        </thead>
        <tbody id="table-body"> </tbody>
    </table>
    <script>
        const eventSource = new EventSource('/update');
        eventSource.onmessage = (event) => {
            const data = JSON.parse(event.data);
            const tbody = document.getElementById('table-body');
            tbody.innerHTML = '';
            data.forEach((item) => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${item[0]}</td>
                    <td>${item[1]}</td>
                    <td>${item[2]}</td>
                    <td>${item[3]}</td>
                    <td>${item[4]}</td>
                `;
                tbody.appendChild(row);
            });
        };
    </script>
</body>
</html>