<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Train Departures</title>
    <link href="{{ url_for('static', filename='styles/minimal-table.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Destination</th>
                <th>Depart In</th>
                <th>Actual Departure</th>
                <th>Delay</th>
                <th>Planned Departure</th>
            </tr>
            <tr class="table-subheading">
                <td id="update-timestamp"></td>
                <td>Minutes</td>
                <td>Time</td>
                <td>Minutes</td>
                <td>Time</td>
              </tr>
            
        </thead>
        <tbody id="table-body-east"> </tbody>
        <tr class="table-subheading">
            <td>Direction Munich></td>
            <td>Minutes</td>
            <td>Time</td>
            <td>Minutes</td>
            <td>Time</td>
          </tr>
    <tbody id="table-body-west"> </tbody>
    </table>
    <script>
        const eventSource = new EventSource('/update');
        eventSource.onmessage = (event) => {
            const data = JSON.parse(event.data);

            const timestamp = document.getElementById('update-timestamp');
            timestamp.textContent = data.timestamp;

            const tbodywest = document.getElementById('table-body-west');
            tbodywest.innerHTML = '';
            data.trains_west.forEach((item) => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${item[0]}</td>
                    <td>${item[1]}</td>
                    <td>${item[2]}</td>
                    <td>${item[3]}</td>
                    <td>${item[4]}</td>
                `;
                tbodywest.appendChild(row);
            });
            const tbodyeast = document.getElementById('table-body-east');
            tbodyeast.innerHTML = '';
            data.trains_east.forEach((item) => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${item[0]}</td>
                    <td>${item[1]}</td>
                    <td>${item[2]}</td>
                    <td>${item[3]}</td>
                    <td>${item[4]}</td>
                `;
                tbodyeast.appendChild(row);
            });
        };
    </script>
</body>
</html>